.stylecard{
    background-color: #005AAA !important;

}
.textstyle{
    text-align: left;
    font-weight: bold;
    color: rgb(255, 212, 212);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.stylelogo{
    padding-left: 0;
    width: 40%;
}
.imagestyle {
    width: 5% ;

}
