.position {
    display: flex;
    align-items: center;
    margin: 10% 15% 15% 25%;
    /* margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%; */
  }
  .stylepar {
    font-size: 20px;
    color: #18207d !important;
  }
  span {
    font-size: 22px;
    font-weight: bold;
    color: #f60f2b;
  }