.sideBar{
    position: fixed;
    left:0; 
    top: 85px; 
    height: 100%;
    width: 240px;
    background: #11101D;
    padding: 6px 14px; 
  
  }
  .sideBar ul{
    margin-top: 20px;
  }
  .sideBar ul li{
    position: relative;
    height:50px; 
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
  }
  .sideBar ul li .ezdine{
    color:#fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .sideBar ul li .ezdine:hover{
    background: #fff;
    color: #11101D;
    border-radius: 20px;
  }